@model System.Collections.Generic.List<EastRiverCommune.Entities.Commodity>
@foreach (var item in this.Model)
{
	<section class="commodity" data-category-id="@item.CategoryID" data-commodity-id="@item.ID" style="background-image: url(@this.Url.Content("~/Commodity/Image/" + item.ID));">
		<div class="checkbox">
			<input type="checkbox" id="@item.ID" name="commodities" value="@item.ID" />
			<label class="icomoon" for="@item.ID">&#xe602;</label>
		</div>
		<div class="info">
			<span class="name">@item.Name</span>
			<span class="price" data-price="@item.Price" data-unit="@item.Unit">￥@item.Price/@item.Unit</span>
		</div>
	</section>
}
